@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Offer Marketplace</h1>
    <p>Please take a look at the offers listed below</p>
</div>
